$def with ()

<html>
<head>
<title>login - ThesTupIDgaLleRy</title>
<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" /> 
<style type="text/css">
	.block {
		width: 270px;
		height: 130px;
		border: 3px solid #797979;
		padding: 30px;
		background-color: #383838;
	}
	.back {
		font-size: 14px;
		border-bottom: 1px dashed;
		color: #B5B5B5;
		font-family: Arial;
	}
	.back:hover {
		color: #EBE066;
		border-bottom: 1px solid;
	}
	a {
		text-decoration: none;
	}
</style>
</head>

<body>

<p>Please, login to the site</p>
<hr>
<center>
	<form method="post" action="/login">
		<font align="left">name </font><input type="text" name="username" style="font-size: 18px"><br>
		<font align="left">password </font><input type="password" name="password"style="font-size: 18px"><br>
		<input type="submit" value="send" class="button" style="font-size: 20px; font-family: georgia">
	</form>
	<a href="/"><span class="back">back</span></a>
</center>
</html>
